{% extends "admin/base.html" %}
{% load static %}

{% block title %}Admin | Ornellas Dojo{% endblock %}

{% block extrastyle %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'css/global.css' %}">


{% endblock %}

{% block branding %}

<header class="site-header">
    <div class="header-container">


        <h1 class="logo">
            Ornellas Dojo
        </h1>

        {% if user.is_authenticated %}
        <nav class="menu-principal">
            <ul>

                <li>
                    <a href="/admin/">Admin</a>
                </li>

                <li>
                    <a href="/">Site</a>
                </li>

                <li>
                    <form method="post" action="{% url 'admin:logout' %}">
                        {% csrf_token %}
                        <button type="submit">
                            Sair
                        </button>
                    </form>
                </li>

            </ul>
        </nav>
        {% endif %}

    </div>


</header>

{% endblock %}

{% block content %}

<div class="container">
    {{ block.super }}
</div>

{% endblock %}