{% extends "admin/base_site.html" %}
{% load admin_urls %}
{% block content %}

<div class="container">

    <form method="post">
        {% csrf_token %}

        <div class="form-section">

            {{ adminform.form.as_p }}

            <button class="botao" type="submit">
                Salvar
            </button>

            {% if original %}
            <a href="{% url opts|admin_urlname:'delete' original.pk %}" class="botao" style="background:#444;">
                Apagar
            </a>
            {% endif %}

        </div>

    </form>

</div>

{% endblock %}